extends layout

block content
    h2 #{title}
    div(class="item-container")
        each item in item_list
            if title === item.category.name
                div(class="item-detail-container")
                    h2 #{item.name}
                    p #{item.description}
                    p #{item.price}
                    p #{item.stock}

                