extends layout

block content
    div(class="main-subcontainer")
        h2(class="cat-detail-head") #{title}
        div(class="dashboard")
            if lowInv.length > 0
                div(class="dash-inv warning")
                    div(class="notif") Low Inventory: #{lowInv.length}
            div(class="link-container")
                a(href=cat_url + "/update") Update Category
                a(href=cat_url + "/delete") Delete Category

        ul(class="item-list")
            each item in item_list
                if title === item.category.name
                    li(class="line-item")
                        h3 
                            a(href=item.url) #{item.name} 
                        if item.image
                            div(class="item-img-container")
                                img(class="item-pic" alt="pic of " + item.name src='/images/' + item.image)
                        p #{item.description}
                        p Price: $#{item.price} 
                        p(class="stock") Amount Remaining: #{item.stock}
                        if item.stock < 10
                            div(class="warning") 
                                span Running Low
                        div(class="item-cat-container")
                            span Category: 
                            a(href=item.category.url) #{item.category.name}
                        div(class="item-link-container")
                            a(href=item.url + "/update") Update Item
                            a(href=item.url + "/delete") Delete Item
        
                    

                