extends layout

block content
    div(class="main-subcontainer")
        h2(class="cat-detail-head") #{title}
        div(class="link-container")
            a(href=cat_url + "/update") Update Category
            a(href=cat_url + "/delete") Delete Category
        ul(class="item-list")
            each item in item_list
                if title === item.category.name
                    li(class="line-item")
                        div(class="main-item-container")
                        h3 
                            a(href=item.url) #{item.name}
                        span Price: $#{item.price}  
                        p #{item.description}
                        p Amount Remaining: #{item.stock}
                        if item.stock < 10
                            span Running Low
                        p #{item.category.name}
                        a(href=item.url + "/update") Update Item
                        a(href=item.url + "/delete") Delete Item
        
                    

                