extends layout

block content
  if error
    p There was an error obtaining the requested information.
  else
    h2 #{title} 
    ul(class="item-list")
      each item in item_list
        li(class="line-item")
          div(class="main-item-container")
            h3 #{item.name}
            span Price: #{item.price}  
          p #{item.description}
          p Amount Remaining: #{item.stock}
          
        
    
