extends layout

block content
  if error
    p There was an error obtaining the requested information.
  else
    div(class="main-subcontainer")
      ul(class="item-list")
        each item in item_list
          li(class="line-item")
            div(class="main-item-container")
              h3 
                a(href=item.url) #{item.name}
              span Price: $#{item.price}  
            p #{item.description}
            p Amount Remaining: #{item.stock}
            p #{item.category.name}

block sidebar
  div(class="sidebar")
    h3(class="cat-header") Categories
    ul
      each cat in category_list
        li(class="cat-line-item") 
          a(href=cat.url class="cat-anchor") #{cat.name}
