extends layout

block content
    div(class="main-subcontainer")
        div(class="item-detail-container")
            h2(class="item-head") #{item.name}
            p #{item.description}
            p #{item.price}
            p #{item.stock}
            if item.stock < 10
                span Running Low
            a(href=item.category.url) #{item.category.name}

        