extends layout

block content
    div(class="item-detail-container")
        h2 #{item.name}
        p #{item.description}
        p #{item.price}
        p #{item.stock}
        a(href=item.category.url) #{item.category.name}

        